<!-- test.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="icon" href="logo.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <title>Vue Test Product / Test </title>
    <!-- CSSスタイル：Tailwindcss一旦解除中 -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2/dist/tailwind.min.css"> -->

</head>

<body>
    <div id="app">
        <p>{{ message }}</p> 
        <p v-text="message2"></p>
        <p v-pre>{{ message }}</p>
        <a v-bind:href="url">{{ message3 }}</a><br/>
        <br/>
        <a :href="url2">{{ message4 }}</a><br/>
        <br/>
        <input type="button" value="クリックしてください" v-bind:disabled="flag" />
    </div>

    <div id="appTwo" style="background-color: aquamarine;">
        <h3>{{ caseComputed }}</h3>
        <!-- Badケースhtmlに処理記述<p>{{  email.split('@')[0].toLowerCase() }}</p>ではなく、js側で処理を記述する -->
        <p>引数不可：プロパティ：{{ localEmail }}</p>
        <p>引数可能：メソッド&nbsp;&nbsp;&nbsp;：{{ localEmail2() }}</p>
        
        <form>
            <input type="button" value="クリック" v-on:click="onclick" />
            <div>算出プロパティの場合：静的：&nbsp;：{{ randomComputed }}&nbsp;キャッシュされて更新されない</div>
            <div>メソッドの場合：動的：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：{{ randomMethods() }}</div>
            <div>現在日時：動的：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：{{ current }}</div>
        </form>
    </div>

    <div id="appThree">
        <h3>{{ lifecycle }}</h3>
        <label>名前：
            <input type="text" v-model="name" />
        </label>
        <p>入力された値：{{ upperName }}</p>
    </div>

    <div id="appFour" style="background-color: bisque;">
        <h3>任意の引数を渡す</h3>
        <p>{{ a }}+{{ b }}</p>
        <button v-on:click="calculate">計算する</button>
        <p>合計1：
            <span v-if="amount1 !== 0">{{ amount1 }}</span>
        </p>
    </div>

    <div id="appFive" style="background-color: pink;">
        <h3>双方向データバインディング：フォーム：1.テキスト入力</h3>
        <form>
            <label for="name">{{ messageForName }}</label>
            <input type="text" id="name" v-model="myName" />
        </form>
        <p>こんにちは!&nbsp;&nbsp;<span v-if="myName !==''">{{ myName }}さん!</span></p>
    </div>

    <div id="appSix">
        <v-app>
            <div class="blue lighten-4" >
                <h3 class="blue lighten-4">双方向データバインディング：フォーム：2.ラジオボタン</h3>        
                <form>
                    <label for="category">{{ messageForCategory }}</label><br/>
                    <input type="radio" id="categoryEat" value="通勤飲食" v-model="category">
                    <label for="categoryEat">通勤飲食</label>
                    <input type="radio" id="categoryEat" value="通勤定期" v-model="category">
                    <label for="categoryTrain">通勤定期</label>
                    <input type="radio" id="categoryEat" value="土曜弁当" v-model="category">
                    <label for="categorySatLanch">土曜弁当</label>
                    <input type="radio" id="categoryEat" value="会社弁当" v-model="category">
                    <label for="categoryComLanch">会社弁当</label>
                </form>
                <form>
                    <label for="amount">{{ messageForAmount }}</label>
                    <!-- typeをtext,v-model.numberで数値化可能 -->
                    <input type="text" id="amount" @input="handleInput" v-model.number="inputAmount" />
                </form>
                <!-- ０未満を非表示 -->
                <p>結果：{{ category }}<span v-if="inputAmount >=0">&nbsp;&nbsp;¥&nbsp;{{ inputAmount }}</span></p>
                
                <!-- マテリアルUI：アバター -->
                <v-avatar
                    color="primary"
                    rounded
                    size="56"
                >Vue</v-avatar>

                <!-- マテリアルUI：ボタンナビ -->
                <v-bottom-navigation v-model="value">
                    <v-btn value="recent">
                    <span>Recent</span>
                
                    <v-icon>mdi-history</v-icon>
                    </v-btn>
                
                    <v-btn value="favorites">
                    <span>Favorites</span>
                
                    <v-icon>mdi-heart</v-icon>
                    </v-btn>
                
                    <v-btn value="nearby">
                    <span>Nearby</span>
                
                    <v-icon>mdi-map-marker</v-icon>
                    </v-btn>
                </v-bottom-navigation>
                <br/>
                <br/>

                <!-- マテリアルUI：カード ------------------------------------>
                <template>
                    <!-- カード設計 -->
                    <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                    >
                    <template slot="progress">
                    <v-progress-linear
                        color="deep-purple"
                        height="10"
                        indeterminate
                    ></v-progress-linear>
                    </template>
                    <!-- 画像 -->
                    <v-img
                    height="250"
                    src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                    ></v-img>
                    <!-- テキスト：タイトル -->
                    <v-card-title>Mos CAFE</v-card-title>
                    <!-- テキスト：詳細 -->
                    <v-card-text>
                        <!-- 横並び設定 -->
                        <v-row
                        align="center"
                        class="mx-0"
                        >
                            <!-- レート：星デザイン -->
                            <v-rating
                            :value="4.5"
                            color="amber"
                            dense
                            half-increments
                            readonly
                            size="14"
                            ></v-rating>
                            <!-- レート：数値 -->
                            <div class="grey--text ms-4">
                            4.5 (413)
                            </div>
                        </v-row>
                        <!-- テキスト：サブタイトル -->
                        <div class="my-4 text-subtitle-1">
                            $ • Italian, Cafe
                        </div>
                        <!-- テキスト：内容 -->
                        <div>日本語の入力をすると雰囲気が変わる、英語の English text caseとは違う雰囲気</div>
                    </v-card-text>
                    <!-- ディバイダー -->
                    <v-divider class="mx-4"></v-divider>
                    <!-- テキスト：タイトル -->
                    <v-card-title>Tonight's availability 予約可</v-card-title>
                    <!-- テキスト：詳細 -->
                    <v-card-text>
                        <!--　チップたち -->
                        <v-chip-group
                            v-model="selection"
                            active-class="deep-purple accent-4 white--text"
                            column
                        >
                            <v-chip>5:30PM</v-chip>
                    
                            <v-chip>7:30PM</v-chip>
                    
                            <v-chip>8:00PM</v-chip>
                    
                            <v-chip>9:00PM</v-chip>
                        </v-chip-group>
                    </v-card-text>
                    <!-- カード：アクション -->
                    <v-card-actions>
                        <!-- ボタン：予約 -->
                        <v-btn
                            color="deep-purple lighten-2"
                            text
                            @click="reserve"
                        >
                            Reserve
                        </v-btn>
                    </v-card-actions>
                </v-card>
                </template>
                <!-- マテリアルUI：カード ここまで------------------------------------>

                
                <!-- マテリアルUI：カード ------------------------------------>
                <template>
                    <!-- カード設計 -->
                    <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                    >
                    <template slot="progress">
                    <v-progress-linear
                        color="deep-purple"
                        height="10"
                        indeterminate
                    ></v-progress-linear>
                    </template>
                    <!-- 画像 -->
                    <v-img
                    height="250"
                    src="./images/web01end.png"
                    ></v-img>
                    <!-- テキスト：タイトル -->
                    <v-card-title>コーポレートサイト</v-card-title>
                  
                    
                    <v-card-text>
                       
                        <!-- 横並び設定 -->
                        <v-row
                        align="center"
                        class="mx-0 mb-2"
                        >
                            <!-- レート：星デザイン -->
                            
                            <v-rating
                            :value="2"
                            color="amber"
                            dense
                            half-increments
                            readonly
                            size="14"
                            ></v-rating>
                            <!-- レート：数値 -->
                            <div class="grey--text ms-4">
                            開発技術難易度 / CMS
                            </div>
                        </v-row>
                        
                        <!-- テキスト：サブタイトル -->
                        
                        <!--　チップたち -->
                        <v-chip-group
                        v-model="selection"
                        active-class="deep-purple accent-4 white--text"
                        column
                        >
                            <v-chip>WordPress</v-chip>
                    
                            <v-chip>Photoshop</v-chip>
                            <v-chip>WordPress</v-chip>
                    
                            <v-chip>Photoshop</v-chip>
                    
                            <!-- <v-chip>8:00PM</v-chip>
                    
                            <v-chip>9:00PM</v-chip> -->
                        </v-chip-group>
                    </v-card-text>
                    <!-- ディバイダー -->
                    <v-divider class="mx-4"></v-divider>
                    <!-- テキスト：詳細 -->
                    <v-card-text>
                        <div class="mb-4">
                            2021年 / 課題制作 / 架空案件 / Ethica様
                        </div>
                        <!-- テキスト：内容 -->
                        <div>ペルソナ企画、要件定義も含めワイヤーフレーム制作からCMS制作まで一貫担当。X-Serverの無料契約を利用したhttpURL制限サイトの構築。</div>
                    </v-card-text>
                    <!-- カード：アクション -->
                    <v-card-actions>
                        <!-- ボタン：予約 -->
                        <v-btn
                            color="deep-purple lighten-2"
                            text
                            @click="reserve"
                        >
                            more
                        </v-btn>
                    </v-card-actions>
                </v-card>
                </template>
                <!-- マテリアルUI：カード ここまで------------------------------------>

                 <!-- マテリアルUI：カード ------------------------------------>
                 <template>
                    <!-- カード設計 -->
                    <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                    >
                    <template slot="progress">
                    <v-progress-linear
                        color="deep-purple"
                        height="10"
                        indeterminate
                    ></v-progress-linear>
                    </template>
                    <!-- 画像 -->
                    <v-img
                    height="250"
                    src="./images/web01end.png"
                    ></v-img>
                    <!-- テキスト：タイトル -->
                    <v-card-title>コーポレートサイト</v-card-title>
                    <!-- テキスト：詳細 -->
                    <v-card-text>
                        <!-- 横並び設定 -->
                        <v-row
                        align="center"
                        class="mx-0"
                        >
                            <!-- レート：星デザイン -->
                            <v-rating
                            :value="2"
                            color="amber"
                            dense
                            half-increments
                            readonly
                            size="14"
                            ></v-rating>
                            <!-- レート：数値 -->
                            <div class="grey--text ms-4">
                            開発技術難易度 / CMS
                            </div>
                        </v-row>
                        <!-- テキスト：サブタイトル -->
                        <div class="my-4 text-subtitle-1">
                            2021年 / 課題制作 / 架空案件 / Ethica様
                        </div>
                        <!-- テキスト：内容 -->
                        <div>ペルソナ設定や要件定義を含め、ワイヤーフレーム制作からCMS制作まで一貫担当。X-serverの無料契約を利用したサイトの構築</div>
                    </v-card-text>
                    <!-- ディバイダー -->
                    <v-divider class="mx-4"></v-divider>
                    <!-- テキスト：タイトル -->
                    <v-card-title>Teck Stack</v-card-title>
                    <!-- テキスト：詳細 -->
                    <v-card-text>
                        <!--　チップたち -->
                        <v-chip-group
                            v-model="selection"
                            active-class="deep-purple accent-4 white--text"
                            column
                        >
                            <v-chip>WordPress</v-chip>
                    
                            <v-chip>Photoshop</v-chip>
                    
                            <v-chip>PowerPoint</v-chip>
                        </v-chip-group>
                    </v-card-text>
                    <!-- カード：アクション -->
                    <v-card-actions>
                        <!-- ボタン：予約 -->
                        <v-btn
                            color="deep-purple lighten-2"
                            text
                            @click="reserve"
                        >
                            more
                        </v-btn>
                    </v-card-actions>
                </v-card>
                </template>
                <!-- マテリアルUI：カード ここまで------------------------------------>
            </div>
        </v-app>
    </div>
    

    


   







    <!-- lodash設定1(jsファイルより手前の記述が必要),Vueの設定3ーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
        <!-- lodashをインポート -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script> 

        <!-- 1：適応するCDNの設定 https://ja.vuejs.org/guide/quick-start.html#using-vue-from-cdn -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <!-- 2：万が一CDN障害でもローカルからライブラリをインポートさせオフライン環境で実行できる本番環境の設定、URLよりvue.min.jsをダウンロードしlibディレクトリに配置させ読み込ませる設定　https://v2.ja.vuejs.org/v2/guide/installation -->
        <script>window.Vue || document.write('<script src="lib/vue.min.js"><\/script>');</script>  
        <!-- 3：アプリ本体の設定（ユーザーコード、htmlファイルと同じ名前で設定）-->
        <script src="js/test.js"></script>
        
        <script>
            Vue.use(Vuetify);
        </script>

</body>
</html>